<div class="container whiteCard">
    <p>Finalize Order: </p>
    <div class="hr"></div>
    <div class="tiles">
        <app-productcard></app-productcard>
        <app-productcard></app-productcard>
        <app-productcard></app-productcard>
        <app-productcard></app-productcard>
    </div>
    <br>
    <form>
        <label for="fname">Full Name </label>
        <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
        <br>
        <label for="email">Email </label>
        <input type="text" id="email" name="email" placeholder="john@example.com">
        <br>
        <label for="adr">Address </label>
        <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
        <br>
        <label for="city">City </label>
        <input type="text" id="city" name="city" placeholder="New York">
    </form>
    <br>
    <div class="hr"></div>
    <p class="math">$X.XX</p>
    <p class="math">$X.XX</p>
    <p id="final" class="math">+ $X.XX</p>
    <p id="total">$X.XX</p>
    <button id="checkoutBtn">Submit</button>
</div>