<header>
  <div class="container">
    <a routerLink="/" class="logo">The Store</a>
    <!-- I want to make a Nav bar component and put it here -- how do I do that? -->
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/products">Products</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <!-- I think I want to put outlet my 'home' component here, does that make sense? -->
  <router-outlet></router-outlet>
</div>