<div class="container whiteCard">
    <div class="tiles">
        <app-productcard></app-productcard>
        <app-productcard></app-productcard>
        <app-productcard></app-productcard>
        <app-productcard></app-productcard>
        <app-productcard></app-productcard>
        <app-productcard></app-productcard>
        <app-productcard></app-productcard>
        <app-productcard></app-productcard>
        <app-productcard></app-productcard>
        <app-productcard></app-productcard>
    </div>
</div>
